

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





@keyframes wipeFromRight_kf {
    0% {
        opacity: 0;
        transform: translate(-15px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes wipeFromLeft_kf {
    0% {
        opacity: 0;
        transform: translate(-15px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#linguagoApplication .wipeFromRight {
    animation: wipeFromRight_kf .5s;
}

#linguagoApplication .wipeFromLeft {
    animation: wipeFromLeft_kf .5s;
}


html, body {
    position: fixed;
    height:100%;
    width:100%

}

body {
    margin: 0;
    touch-action: none;
    height: 99%;
    background-color: #0071c0;

}

#linguagoApplication {
    height:100%;
    width:100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

#linguagoApplication *:focus {
    outline:none;
}

#linguagoApplication .button {
    cursor: pointer;
}

#linguagoApplication .button:hover .background,
#linguagoApplication .button:focus .background
#linguagoApplication .button[aria-selected='true'] .background
{
    opacity: .9;
}
#linguagoApplication .button[aria-selected='true'] .background {
    opacity:.8;
}

#linguagoApplication ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#linguagoApplication svg {
    user-select: none;
    background:#0071c0;
    width: 100%;
    height: 100%;
}

#linguagoApplication  #background {
    fill:#0071c0;
}



#linguagoApplication .gameover_popup, .question_popup {
    position: absolute;
    background-color: white;
    padding: 10px;
}

#linguagoApplication .gameover_popup {
    min-width:200px;
    top:100px;
    left:100px;
}

#linguagoApplication .answer {
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
}

#linguagoApplication .answer:hover {
    background-color: lightskyblue;
}
#linguagoApplication .live_icon {
    fill:'red'
}